* {
    margin: 0;
    padding: 0;
}

h1{
    color: #fff;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64,39px;
    text-align: center;
}

h2{
    color: #fff;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 27,6px;
    text-align: center;
}

h3{
    font-size: 30px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

body{
    color: #fff;
    font-family: 'Open Sans';
    font-size: 23px;
    left: 50%;
}

/*===start loginScreen page-1===*/
.loginscreen {
    height: 960px;
    background-image: url(./assets/backgroundPage1.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;  
    background-size: 100% 100%;
}

.logo {
    position: absolute;
    width: 77px;
    height: 33px;
    left: 107px;
    top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navibar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 20px 40px 20px 40px;
    background-color: rgba(0,0,0,0.5);
}

.navimenu{
    flex: 1;
}
.navimenu span{
    padding-right: 800px;
}
.navimenu ul{
    margin-left: 226px;
    display: inline;
    word-spacing: 30px;
}

.navimenu ul li{
    list-style: none;
    display: inline-block;
    padding:5px;
    word-spacing: 5px;
}

.navimenu ul a{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.loginscreen-body {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.loginscreen-content{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;

}
.btnplay{
    position: relative;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 25px 100px;
    font-size: 25px;
    border: 1px solid #F3AF34;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    cursor: pointer;
    
}

.scrolldown {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 91.03%;
}

.loginscreen h1{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 83px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
}

.loginscreen h3{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 83px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
}
/*===End LoginScreen page-1===*/

/*===Galery page-2===*/
.gallery{
    height: 960px;
    background-image: url(./assets/backgroundPage2.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
    background-size: 100% 100%;
}
.galleryCont{
    position: absolute;
    left: 5.7%;
    right: 76.09%;
    top: 28.48%;
    bottom: 68.64%;
    
}
.carouselBox{
    position: relative;
    left: 600px;
    top: 318.7px;
}
.carousel {
    width: 500px;
}
 .carousel-item {
    height: 600px;
    width:500px;
    align-items: center;
    justify-content: center;  

}
.carousel-indicators .active {
    height: 14px;
    width: 14px;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

/* ===End Gallery page-2===*/

/*=== Feature page-3===*/
  .Features{
    height:960px;
    background-image: url(./assets/backgroundPage3.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
    background-size: 130% 130%;
}

  .featuresCont{
    position: absolute;
    left: 55.52%;
    right: 26.29%;
    top: 26.96%;
    bottom: 70.16%;
}
  .accordianBox {
    position: absolute;
    left: 65%;
    top: 43.5%;
}

.accordion-item-title {
    font-style: Arial;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFB548;
}

.accordion-body {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}
.Features h1{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
}

.Features h3{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFFFFF;
}
/*===End of Feature page-3===*/

/*===Specification page-4===*/
.SpecificationPage{
    height:960.16px;
    background-image: url(./assets/backgroundPage4.png);
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
}
.specificationCont{
    position: absolute;
    left: 9.02%;
    top: calc(50% - 73.64px/2 - 307.05px);
    width:50%;
}

.specificationCont h1{
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64.39px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.specificationCont h3{
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3px;
    color: #FFFFFF;
}
.systemreq-box{
    position: absolute;
    left: 120.22px;
    top: 388.5px;
}
table, th, td {
    width: 600px;
    height: 100px;
    border: 1px solid #979797;
    padding: 15px;
}

.req-header{
color: #F3AF34;
font-family: Arial;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
font-weight: bold;
}
/*===End of Specification page-4===*/

/*===Topscores page-5===*/
.Topscores{
    height: 960px;
    background-image: url(./assets/backgroundPage5.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
    background-size: 100% 100%;

}
.topscoresCont{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.topscoresCont h1{
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.topscoresCont p{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    color: #FFFFFF;
}
.btnseeMore{
    position: relative;
    left:-30.5% ;
    top: 50px;
    text-decoration: none;
    font-family:'Open Sans';
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 24px 100px;
    font-size: 20px;
    border: 1px solid #F3AF34;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548, #F3AF34);
    cursor: pointer;
    
}
.cardBox{
    position: relative;
    left: 60.26%;
    top: 16%;
}

.card{
    width: 620px;
    height: 190px;
    display: inline-block;
    border-radius: 15px;
    padding: 12px 24px 76px 26px;    
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px 50px 25px;
    background: rgba(255, 255, 255, 0.08);
    background-size: cover;
    transition: transform 0.5s;
}

.card h1{
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    position: relative;
    left: 10%;
    top: -50%;
    color: #FFB548;
}
.card h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
    color: #FFFFFF;
    position: relative;
    left: 10%;
    top: -45%;
    opacity: 0.5;
}
.card h6{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    
}
.card p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    position: relative;
    left: 0%;
    top: -20%;
}
.card img{
    width: 65px;
    clip-path: circle();
    position: relative;
    left: -3%;
    top: 0%;
}
.card .logotwit{
    position: absolute;
    left: 91%;
    top: 11%;
}
.card:hover{
    transform: translateX(-300px);
}

.topscoresCont h1{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    left: -30%;
    top: -50px;
    }

    .topscoresCont p{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size:18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        position: relative;
        text-align: left;
        left: 2%;
        top: 10px;
        width: 50%;
        }

/*===End of Topscores page-5===*/

/*===Footer page-6====*/
.Footer{
    height: 950px;
    background-image: url(./assets/backgroundPage5.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
    background-size: 100% 100%;

}
.Footer .imgStick{
    position: absolute;
    width: 445.47px;
    height: 694.41px;
    left: 159.96px;
    top: 49.98px;
    
}
.footerCont{
    position: absolute;
    left: 46.87%;
    top: 22.94%;
}
.footerCont h1{
    font-size:80px;
    line-height: 92px;
    text-align: left;
    letter-spacing: 3px;
}
.footerCont h3{
    font-size:24px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 2px;
}
.footerCont p{
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.newsletter{
    position: absolute;
    left: 46.87%;
    top: 510.7px;
}
.newsletter input{
    padding: 12px 55px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff
}
.newsletter .btnnSub{
    position: relative;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 12px 34px;
    font-size: 20px;
    border: 1px solid #F3AF34;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548 100%, #F3AF34 90%);
    cursor: pointer;
    
}
.footBar {
    position: relative;
    transform: translateX(0%);
    top: 800px;
    
}
.footer-menu{
    flex: 1;
}

.footerMenu ul{
    margin-left: 40%;
    display: inline;
    word-spacing: 32px;
}

.footerMenu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    word-spacing: 5px;
}

.footerMenu ul a{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.copyRight{
    flex: 1;

}
.copyRight ul{
    margin-left: 326px;
    display: inline;
    word-spacing: 32px;
}

.copyRight ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    word-spacing: 5px;
    
}

.copyRight ul a{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    left:-10%;
}
.copyRight span{
    margin-right: 51.5%;
}

/*===End of footer page-6===*/

/*===Mobile max width 768==*/

@media (max-width:768px){
    h1{
        font-size: 35px;
        line-height: 45px;
    }    
    h2{
        font-size: 20px;
        line-height: 19px;
    }
    h3{
        font-size: 15px; 
    }   
    ul{
        position: relative;
        display: inline;
        word-spacing: 0px;
        
    }
    ul li{
        position: relative;
        list-style: none;
        display: inline-block;
        padding: 3px;
        word-spacing: .2px;
    }
    ul a{
        position: relative;
        color: #fff;
        text-decoration: none;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        text-align: left;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }   
    body{
            color: #fff;
            font-family: 'Open Sans';
            font-size: 14px;
            left: 50%;
    }
    
    /*===Login Page===*/
    .navimenu ul{
        transform: translate(100%,-50%);
    }
    .logo{
            left: 5%;
            width: 50px;
            height: 15px;
            font-size: 15px;
    }
    .navimenu span{
        padding-right: 5.5%;
    }
    .navimenu{
        margin-left: -25%;
        margin-top: -0.9%;
        flex: 1;
        align-self: flex-start;
        justify-self: flex-end;
    }
     /*===Login Page===*/

     /*===Galery Page===*/
    .galleryCont{
        left:10%;
        top:15%;
    }
    .carouselBox {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 10%;
    }
    .carousel-item{
        width: 80%;
        height: 80%;
        transform: translate(-5%,6%);
    }
    .carousel-inner {
        transform: translate(12.5%,-3%);
    }
     /*===Galery Page===*/
    
    
    /*===Feature Page===*/
    .accordianBox {
        left:55%;
        top:50%;
    }
     /*===Feature Page===*/
    
    /*===Specification Page===*/
    
    .systemreq-box{
        left: 1px;
        right: 1px;
    }
    .systemreq-table .req-header{
        font-size: 20px;
    }
    
    .systemreq-table .req-body{
        font-size: 12px;
    }
    
    table, th, td {
        margin-top: 0px;
        width: 100%;
        height: 75%;
        border: 1px solid #979797;
        padding: 15px;
    }
    
    td { 
        display: inline-block; 
    }

    /*===Specification Page===*/
  
    
    /*===TopScore Page===*/
    .topscoresCont{
        width: 100%;
        top: 40%;
        left: 55%;   
    }
    .topscoresCont h1{
        letter-spacing: 3px;
        font-size: 30px;
        text-transform: uppercase;
        top: 40%;}

     .topscoresCont p{
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    width: 20%;
}

.btnseeMore{
    position: relative;
    left:-30.5% ;
    top: 50px;
    text-decoration: none;
    font-family:'Open Sans';
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 24px 50px;
    font-size: 20px;
    border: 1px solid #F3AF34;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548, #F3AF34);
    cursor: pointer;
}

    .cardBox{
        left: 42%;
        top: 23%;
    }
    .card{
        width: 300px;
        height: 120px;
        transition: transform 0.5s;
        margin: 5px 15px 5px 25px;
    }
    .card h1{
        font-size: 13px;
        line-height: 5px;
        letter-spacing: 1px;
        top: -50px;
        left: 50px;
    }
    .card h3{
        font-size: 13px;
        line-height: 14px;
        top: -50px;
        left: 50px;
    }
    .card h6{
        font-size: 10px;
        line-height: 15px;
        position: relative;
    left: 0%;
    top: -210%;
    }
    .card p{
        font-size: 10px;
        line-height: 25px;
        top: -50px;
        left: 40px;
    }
    .card img{
        width: 50px;
        left: -5%;
        clip-path: circle();
    }
    .card .logotwit{
        position: absolute;
        left: 89.05%;
        top: 10%;
    }
    .card:hover{
        transform: translateX(50px);
    }
    /*===TopScore Page===*/

    /*=footer page===*/
    .imgStick{
        display: none;
    }
    .footerCont{
        left: 10%;
        top: 10%;
    }
    
    .newsletter{
        left: 10%;
        top:50%;
        width: 100%;
    }
    .footBar{
        top : 800px;
        left: -100px;
    }
    .footerMenu ul{
        font-size: 5px;
        margin-left: 20%;
        display: inline;
        word-spacing: 0px;
    }
    
    
    .copyRight ul{
        margin-left: 50%;
        display: inline;
        word-spacing: 0px;
    }

    .copyRight ul a{
        left:-35%;
    }
    
    .copyRight span{
        margin-left: -10%;
    }
    /*=footer page===*/
}


